
# Build artifacts
.next/
out/
build/
dist/

# Node modules
node_modules/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE specific
.vscode/
.idea/

# Env files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/

# Firebase specific
.firebase/
firebase-debug.log
firebase-debug.*.log

# Other
public/
